.article-detail-container {
    padding: 10px;
  }
  
  .article-image {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 600px) {
    .article-detail-container {
      padding: 5px;
    }
  
    .article-title {
      font-size: 0.75rem;
    }
  }
  
  @media (min-width: 600px) and (max-width: 960px) {
    .article-title {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 960px) and (max-width: 1280px) {
    .article-title {
      font-size: 1.75rem;
    }
  }
  
  @media (min-width: 1280px) {
    .article-title {
      font-size: 2rem;
    }
  }
  